body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    background: linear-gradient(45deg, #ff6f61, #ff9966);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #ff9966, #ff6f61);
}

#output {
    font-size: 18px;
    color: #333;
    margin-top: 120px;
    opacity: 1;
    transition: opacity 2s ease-out;
}

.fade-out {
    opacity: 0;
}